
.counter{
  border: 1px solid rgb(162, 162, 162);
  padding: 8px;
  width: 80px;
  border-radius: 4px;
  position: relative;
  padding: 5px;
}
.counter h1 {
 font-size: 16px;
 color: #000000;
 margin-left: 20px;
 margin-top: 5px;
}
.counter .upper {
 border: none;
 background: transparent;
 position: absolute;
 right: 6px;
 top: -11px;
 font-size: 25px !important;
 color:  rgb(162, 162, 162);;
}
.counter .lower {
 border: none;
 background: transparent;
 position: absolute;
 right: 9px;
 top: 10px;
 font-size: 18px !important;
 color:  rgb(162, 162, 162);;
}




