.footer{
   padding: 80px 0px;
   background-color: black;
}
.footer-part1 h2{
   color: #fff;
   font-size: 32px;
   font-weight: 600;
   margin-bottom: 15px;
}
.footer-part1 h5{
   font-size: 14px;
   font-weight: 400;
   color: #fff;
   margin-bottom: 10px;
}
.footer-part2 p{
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
.footer-part3 {
  display: flex;
  justify-content: flex-end;
}
.footer-part3 a{
  padding: 12px 30px;
  background-color: var(--btn-color);
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  width: 150px;
}

.footer-part3 .support-btn a.order-btn span svg{
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}
.bottom-footer{
  background-color: #3b3b3b;
  padding: 20px 0px;
}
.bottom-footer p{
  color: #C0BFBF;
  text-align: center;
}
.bottom-footer p a{
  color: #fff;
}

/***** Responsive css *****/
@media (min-width : 320px) and (max-width: 768px){
  .footer-part1 h2 {
    text-align: center;
 }
 .footer-part1 h5{
  text-align: center;
 }
 .footer-part2 p{
  text-align: center;
 }
 .footer-part3{
  display: flex;
  justify-content: center;
  margin-top: 10px;
 }

}



