

.order{
  border: 1px solid rgb(203, 203, 203);
  border-radius: 5px;
}


.order .order-table table tbody tr td a.view-btn{
    background-color: var(--btn-color);
    width: 100px;
    color: #fff;
    text-align: center;
    padding: 6px 15px;
    border-radius: 4px;
}

/********* Responsive css *********/

@media (min-width : 320px) and (max-width: 768px){
  .order-table table{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
  }

  tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
     border-style: none; 
    border-width: 0;
  }
 .order-table table thead tr th{
     display: flex;
     flex-direction: column;
 }
 
 .order-table table tbody tr td{
  display: flex;
  flex-direction: column;

 }
}




